---
layout: main.liquid
title: Choose Language/Velg språk
navless: true
---
<main>
    <ul>
        {% for lang in languages %}
            <li>{{ translation.choose_language[lang] }}: <a href="{{ "/" | locale_url: lang }}" hreflang="{{ lang }}">{{ lang | language_name }}</a></li>
        {% endfor  %}
    </ul>
</main>
<script defer>
    let resolvedLang = {{ languages | first | json }};
    for(let i = 0; i < navigator.languages.length; i++) {
        if({{ languages | json }}.includes( navigator.languages[i])) {
            resolvedLang = navigator.languages[i];
            break;
        }
    }
    // window.location.href = "{{ "/" | locale_url: resolvedLang }}";
</script>