---
layout: bare.liquid
title: Choose Language/Velg språk
---
<script>
if(navigator.languages.includes("nb")) {
    window.location.href = "{{ "/" | locale_url: "nb" }}";
} else {
    window.location.href = "{{ "/" | locale_url: "en" }}";
}
</script>
<header>
<h1>Penguin of Thunder</h1>
</header>
<main>
<ul>
    <li>{{ translation.choose_language.en }}: <a href="{{ "/" | locale_url: "en" }}" hreflang="en">{{ "en" | language_name }}</a></li>
    <li>{{ translation.choose_language.nb }}: <a href="{{ "/" | locale_url: "nb" }}" hreflang="nb">{{ "nb" | language_name }}</a></li>
</ul>
</main>
{% include "footer.liquid" %}
