<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="{{ dir  }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark">
<title>{{ title }}{% if languages[page.lang] %} ({{ page.lang | language_name }}){% endif %}</title>
    <link rel="stylesheet" href="/bundle.css" />
    <link rel="canonical" href="{{page.url}}">
  </head>
  <body class="container">
    {{ content }}
  </body>
</html>
